.nested-nav {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
}

.nav-button {
    padding: 10px;
}

.nested-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 30rem;
    background-color: aquamarine;
    box-shadow: 0px 0px 14px 1px rgb(0 0 0 / 20%);
    border-radius: 10px;
    margin-top: 15px;
}