.loading {
  height: 50px;
  width: 50px;
  border: 5px solid grey;
  border-top-color: lightseagreen;
  border-radius: 50%;
  margin: 10px auto;
  animation: rotateAnimation linear 0.8s infinite;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
