.container {
    height: 100%;
    min-height: 25rem;
    min-width: 350px;
    Width: 100%;
    max-width: 1200px;
    background-color: #F1F5FF;
    border-radius: 10px;
    margin: auto;
}

.cards-Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    list-style-type: none;
    padding: 2rem 1rem;
}

@media screen and (max-width: 920px) {
    .cards-Container {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 1980px) {
    .container {
        max-width: 2350px;
    }
    .cards-Container {
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }

    .comment-header .email {
        font-size: 30px !important;
    }

    .comment-header .name {
        font-size: 30px !important;
    }

    .comment {
        font-size: 20px !important;
    }
}

.comment-Container {
    background-color: #FFFFFF;
    width: 330px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px 1px #bcbccc;
    padding: 5px;
}

@media screen and (min-width: 500px) {
    .comment-Container {
        width: auto;
    }

}

.comment-header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.comment-header .email {
    font-size: 16px;
    color: #282A42;
}

.comment-header .name {
    font-size: 16px;
    color: #8C8C9C;
    text-transform: capitalize;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.comment {
    text-align: left;
    letter-spacing: 1px;
    margin-top: 1rem;
}