.header-bar {
  position: sticky;
  display: flex;
  width: 100%;
  top: 0;
  min-height: 50px;
  background-color: rgb(151, 108, 217);
  box-shadow: 0px 0px 7px black;
  align-items: center;
  padding: 5px;
}

@media screen and (max-width: 1100px) {
  .header-bar {
    width: fit-content;
  }
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link-list {
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  padding: 5px;
  cursor: pointer;
}

.nav-card {
  height: fit-content;
  width: 12rem;
  text-align: left;
  line-height: 2.5rem;
  position: absolute;
  top: 41px;
  left: 10px;
  background-color: white;
  box-shadow: 0px 0px 14px 1px rgb(0 0 0 / 40%);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
}

.nav-card .nav-link {
  color: #0a6c75;
}

.nav-card .nav-link-list li :hover {
  display: inline-block;
  line-height: 1.5rem;
  background-color: #0a6c75;
  width: 100%;
  color: white;
  transition: all 0.5s linear;
  border-radius: 5px;
}

.nav-card::before {
  content: "";
  display: block;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
  position: absolute;
  top: -5px;
  left: 10px;
}

.nav-list {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  margin-left: 7rem;
}

.nav-list-link {
  display: inline-block;
  position: relative;
}

.nav-list-link .nav-button {
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  height: 2rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

.nav-list-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px; /* Adjust line height as needed */
  background-color: transparent; /* Initially transparent */
  transition: all 0.4s ease; /* Add transition effect */
}

.nav-list-link:hover::after {
  background-color: white; /* Change background color on hover */
  width: 100%;
}

.nav-list-link a.active button {
  background-color: #0a6c75;
  transition: all 0.5s linear;
  box-shadow: 0px 0px 14px rgb(0 0 0 / 40%);
}
